@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 auto 50px auto;
    padding: 0;
    box-sizing: border-box;
    width: 55vw;
    font-family: 'Montserrat', sans-serif;
    color: #4E5150;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.user-info {
    width: 16%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.username {
    font-size: 24px;
    width: 300%;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.location {
    color: #A9A9A9;
    font-size: 14px;
    width: 200%;
    text-align: center;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.account-info {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
}

.account-info-card {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8em 1.1em;
    margin: 1rem;
    border-radius: 12px;
    width: 7%;
}

.account-info-card-numer {
    margin: 0;
    font-size: 18px;
}

.account-info-card-type {
    margin: 0;
    font-size: 14px;
    color: #BDBDBD;
}

.images-container {
    display: grid;

    gap: 20px;

    grid-template-rows: repeat(3, 30%);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "photo1 photo2 photo2"
    "photo3 photo3 photo4"
    "photo5 photo6 photo4";
}

.photo1 {
    grid-area: photo1;
}

.photo2 {
    grid-area: photo2;
}

.photo3 {
    grid-area: photo3;
}

.photo4 {
    grid-area: photo4;
    border-radius: 50%;
}

.photo5 {
    grid-area: photo5;
}

.photo6 {
    grid-area: photo6;
}

.photo {
    border-radius: 12px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-bottom: 1em;
    /* height: 100px; */
    overflow: hidden;
}

footer a {
    text-decoration: none;
    color: #666;
}


@media (max-width: 1150px) {
    body {
        width: 70vw;
    }

    .account-info-card {
        padding: 0.8em 1.4em;
    }

    .user-info {
        width: 19%;
    }

}

@media (max-width: 800px) {
    body {
        width: 90vw;
    }

    .profile-container {
        margin: 1rem 0;
    }

    .account-info-card {
        padding: 0.6em 1.8em;
        margin: 0.5rem
    }

    .user-info {
        width: 82px;
    }

    .username {
        font-size: 14px;
    }

    .location {
        font-size: 10px;
    }

    .account-info-card-numer {
        font-size: 12px;
    }

    .account-info-card-type {
        font-size: 12px;
    }

    .account-info {
        margin-top: 0.5rem;
    }

    footer, footer a {
        font-size: 12px;
    }
}
